In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../Data/robot-fill-training2.csv")

In [3]:
df = pd.DataFrame()

In [4]:
data.head()

,Asilabilir_Engel_Seviyesi,Haritalandirma,Hazne_Kapasitesi,Uygulama_Uzerinden_Kontrol,Yer_Silme_Ozelligi,Calisma_Modu_Sayisi,Ozellik,Sarjli_Kullanim_Suresi,url,price,Marka
0,2.0,Lazer,250-500,Var,Var,3.0,Robot,60 - 120,https://www.trendyol.com//xiaomi/mi-robot-vaku...,9299.0,xiaomi
1,2.0,Lazer,250-500,Var,Var,3.0,Robot,120,https://www.trendyol.com//roborock/s8-sonic-mo...,18499.0,roborock
2,2.0,Lazer,250-500,Var,Var,3.0,Robot,120,https://www.trendyol.com//roborock/s8-sonic-ro...,17099.0,roborock
3,2.0,Lazer,250-500,Var,Var,3.0,Robot,120,https://www.trendyol.com//roidmi/eve-plus-akil...,14499.0,roidmi
4,1.0,Lazer,250-500,Var,Var,3.0,Robot,120,https://www.trendyol.com//roborock/q7-max-beya...,14599.0,roborock

In [5]:
data = data.drop(['Calisma_Modu_Sayisi','Ozellik','url'], axis=1)

In [6]:
data.head()

,Asilabilir_Engel_Seviyesi,Haritalandirma,Hazne_Kapasitesi,Uygulama_Uzerinden_Kontrol,Yer_Silme_Ozelligi,Sarjli_Kullanim_Suresi,price,Marka
0,2.0,Lazer,250-500,Var,Var,60 - 120,9299.0,xiaomi
1,2.0,Lazer,250-500,Var,Var,120,18499.0,roborock
2,2.0,Lazer,250-500,Var,Var,120,17099.0,roborock
3,2.0,Lazer,250-500,Var,Var,120,14499.0,roidmi
4,1.0,Lazer,250-500,Var,Var,120,14599.0,roborock

In [7]:
df['Asilabilir_Engel_Seviyesi'] = data['Asilabilir_Engel_Seviyesi']
df['Haritalandirma'] = data['Haritalandirma']
df['Hazne_Kapasitesi'] = data['Hazne_Kapasitesi']
df['Uygulama_Uzerinden_Kontrol'] = data['Uygulama_Uzerinden_Kontrol']
df['Yer_Silme_Ozelligi'] = data['Yer_Silme_Ozelligi']
df['Sarjli_Kullanim_Suresi'] = data['Sarjli_Kullanim_Suresi']
df['Fiyat'] = data['price']
df['marka'] = data['Marka']

In [8]:
df.head()

,Asilabilir_Engel_Seviyesi,Haritalandirma,Hazne_Kapasitesi,Uygulama_Uzerinden_Kontrol,Yer_Silme_Ozelligi,Sarjli_Kullanim_Suresi,Fiyat,marka
0,2.0,Lazer,250-500,Var,Var,60 - 120,9299.0,xiaomi
1,2.0,Lazer,250-500,Var,Var,120,18499.0,roborock
2,2.0,Lazer,250-500,Var,Var,120,17099.0,roborock
3,2.0,Lazer,250-500,Var,Var,120,14499.0,roidmi
4,1.0,Lazer,250-500,Var,Var,120,14599.0,roborock

In [11]:
df['marka'].value_counts()

marka
philips     201
xiaomi       68
roborock     30
viomi        28
arcelik      20
           ...
lura          1
botslab       1
irobat        1
cambot        1
hf520         1
Name: count, Length: 129, dtype: int64

In [12]:
df['Haritalandirma'].value_counts()

Haritalandirma
Lazer        369
Jiroskop     130
Lazer        128
Yok           77
Kamera        30
Name: count, dtype: int64

In [13]:
df['Hazne_Kapasitesi'].value_counts()

Hazne_Kapasitesi
250-500      388
0-250        246
500-1000      69
1500          17
1000-1500     14
Name: count, dtype: int64

In [14]:
df['Uygulama_Uzerinden_Kontrol'].value_counts()

Uygulama_Uzerinden_Kontrol
Var    683
Yok     51
Name: count, dtype: int64

In [15]:
df['Yer_Silme_Ozelligi'].value_counts()

Yer_Silme_Ozelligi
Var    649
Yok     85
Name: count, dtype: int64

In [16]:
df['Sarjli_Kullanim_Suresi'].value_counts()

Sarjli_Kullanim_Suresi
120         515
30 - 60     116
60 - 120     96
0 - 30        7
Name: count, dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

In [18]:
df['marka'] = enc.fit_transform(df['marka'])

In [20]:
df['marka'].value_counts()

marka
79     201
123     68
86      30
119     28
6       20
      ...
62       1
16       1
54       1
18       1
43       1
Name: count, Length: 129, dtype: int64

In [21]:
df['Haritalandirma'] = enc.fit_transform(df['Haritalandirma'])

In [22]:
df['Haritalandirma'].value_counts()

Haritalandirma
3    369
0    130
2    128
4     77
1     30
Name: count, dtype: int64

In [23]:
df['Hazne_Kapasitesi'] = enc.fit_transform(df['Hazne_Kapasitesi'])

In [24]:
df['Hazne_Kapasitesi'].value_counts()

Hazne_Kapasitesi
3    388
0    246
4     69
2     17
1     14
Name: count, dtype: int64

In [25]:
df['Uygulama_Uzerinden_Kontrol'] = enc.fit_transform(df['Uygulama_Uzerinden_Kontrol'])

In [26]:
df['Uygulama_Uzerinden_Kontrol'].value_counts()

Uygulama_Uzerinden_Kontrol
0    683
1     51
Name: count, dtype: int64

In [27]:
df['Yer_Silme_Ozelligi'] = enc.fit_transform(df['Yer_Silme_Ozelligi'])

In [28]:
df['Yer_Silme_Ozelligi'].value_counts()

Yer_Silme_Ozelligi
0    649
1     85
Name: count, dtype: int64

In [29]:
df['Sarjli_Kullanim_Suresi'] = enc.fit_transform(df['Sarjli_Kullanim_Suresi'])

In [30]:
df['Sarjli_Kullanim_Suresi'].value_counts()

Sarjli_Kullanim_Suresi
1    515
2    116
3     96
0      7
Name: count, dtype: int64

In [31]:
df.head(10)

,Asilabilir_Engel_Seviyesi,Haritalandirma,Hazne_Kapasitesi,Uygulama_Uzerinden_Kontrol,Yer_Silme_Ozelligi,Sarjli_Kullanim_Suresi,Fiyat,marka
0,2.0,3,3,0,0,3,9299.0,123
1,2.0,2,3,0,0,1,18499.0,86
2,2.0,2,3,0,0,1,17099.0,86
3,2.0,2,3,0,0,1,14499.0,89
4,1.0,3,3,0,0,1,14599.0,86
5,2.0,2,3,0,0,1,10390.0,36
6,2.0,2,0,0,0,1,11299.0,79
7,2.0,2,3,0,0,1,7999.0,95
8,2.0,1,4,0,0,3,8470.0,123
9,2.0,2,0,0,0,1,11499.0,123

In [32]:
df.to_csv("../Data/robot-training.csv",index=False)

In [34]:
# dataset eğitime hazır